@import '~antd/dist/antd.css';

.App-header {
  text-align: center;
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  background-color: #222;
  line-height: 60px;
  user-select: none;
  z-index: 999;
}

.App-header h1 {
  font-size: 1.5em;
  color: white;
  margin: 0;
}

.App-container {
  position: relative;
  top: 60px;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.panel-title {
  text-align: center;
  font-weight: 800;
}

.module-list {
  position: absolute;
  width: 250px;
  font-size: 14px;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

.module-type {
  padding: 10px;
  margin: 0;
  margin-top: 20px;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  user-select: none;
}

.config {
  position: absolute;
  width: 400px;
  padding: 0 16px;
  font-size: 14px;
  top: 0;
  right: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.workspace {
  position: relative;
  height: 100%;
  margin: 0 400px 0 250px;
  user-select: none;
  background-size: 50px 50px;
  background-image: linear-gradient(0deg, transparent 24%, rgba(25, 25, 25, 0.1) 25%, rgba(25, 25, 25, 0.1) 26%, transparent 27%, transparent 74%, rgba(25, 25, 25, 0.1) 75%, rgba(25, 25, 25, 0.1) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(25, 25, 25, 0.1) 25%, rgba(25, 25, 25, 0.1) 26%, transparent 27%, transparent 74%, rgba(25, 25, 25, 0.1) 75%, rgba(25, 25, 25, 0.1) 76%, transparent 77%, transparent)
}

.workspace:focus {
  outline: none;
}

.module-option {
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #ccc;
  cursor: -webkit-grab;
  padding: 0 10px;
  font-family: consolas,monospace;
}

.module-option:hover {
  background-color: #eee;
}

.srd-diagram  {
  height: 100%;
}

.App .srd-port:hover, .App .srd-port.selected {
  background: #999;
}

.App .srd-node--selected>* {
  border-color: #00c0ff !important;
}

.App .srd-default-link--path-selected {
  stroke: #00c0ff !important;
}

.App .srd-default-node__in, .App .srd-default-node__out {
  flex-direction: row;
  justify-content: center;
}

.App .srd-default-port {
  display: block;
  margin: 0 10px;
}

.App .srd-default-node__title {
  background: #000;
  padding: 10px;
}

.App .srd-port {
  cursor: pointer;
  background: rgba(255,255,255,0.3);
  border: 1px solid rgba(255,255,255,0.4);
}

.App .generate {
  margin: 20px 0;
}

.App .generate button {
  background-color: maroon;
  font-size: 14px;
}

.App .config-item {
  margin: 10px 0;
}

.App .config-item .line {
  height: 36px;
  line-height: 36px;
}

.App .rendered-image {
  width: 100%;
  cursor: -webkit-grab;
}

.App .rendered-image.interacting {
  cursor: -webkit-grabbing;
}

.App .image-url {
  font-size: 16px;
  padding: 10px 0;
  user-select: all;
}

.App .srd-default-port.repeatable .srd-port {
  border-radius: 50%;
}

.App .srd-default-port.nullable .srd-port {
  border-style: dashed;
}

.module-list::-webkit-scrollbar {
  background: #eee;
}
.module-list::-webkit-scrollbar-thumb {
  background: #bbb;
}

.module-list::-webkit-scrollbar {
  width: 6px;
}
