<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Volume Visualization</title>
  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/flexboxgrid.min.css">
  <link rel="stylesheet" href="{{ CSSPATH }}">
</head>
<body>
  <canvas id="tf"></canvas>
  <div class="row center-xs middle-xs">
    <div id="container" class="col-xs-12"></div>
  </div>
  <script src="{{ JSPATH }}"></script>
</body>
</html>