.App {
  text-align: center;
}

.App-header {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  background-color: #222;
  line-height: 60px;
  color: white;
  user-select: none;
  z-index: 999;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.container {
  position: relative;
  margin-top: 60px;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.module-list {
  position: absolute;
  width: 250px;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 1px solid #000;  
}

.config-panel {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
  height: 100%;
  border-left: 1px solid #000;
}

.workspace {
  position: relative;
  height: 100%;
  margin: 0 300px 0 250px;
  user-select: none;
  background-size: 50px 50px;
  background-image: linear-gradient(0deg, transparent 24%, rgba(25, 25, 25, 0.05) 25%, rgba(25, 25, 25, 0.05) 26%, transparent 27%, transparent 74%, rgba(25, 25, 25, 0.05) 75%, rgba(25, 25, 25, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(25, 25, 25, 0.05) 25%, rgba(25, 25, 25, 0.05) 26%, transparent 27%, transparent 74%, rgba(25, 25, 25, 0.05) 75%, rgba(25, 25, 25, 0.05) 76%, transparent 77%, transparent)
}

.box {
  position: absolute;
  border: 1px dashed gray;
  background-color: white;
  padding: 1rem;
  cursor: move;
}

.box.current {
  border: 2px solid lightgreen;
}

.module {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #aaa;
}

.module:hover {
  background-color: #eee;
}
